<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>holamundo</display-name>
    <servlet-name>holamundo</servlet-name>
    <servlet-class>ar.cac.abm.servlet.holamundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>holamundo</servlet-name>
    <url-pattern>/holamundo</url-pattern>
  </servlet-mapping>
  <display-name>destinoEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EliminarDestino</display-name>
    <servlet-name>EliminarDestino</servlet-name>
    <servlet-class>ar.cac.abm.servlet.EliminarDestino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarDestino</servlet-name>
    <url-pattern>/EliminarDestino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarDest</display-name>
    <servlet-name>EliminarDest</servlet-name>
    <servlet-class>ar.cac.abm.servlet.EliminarDest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarDest</servlet-name>
    <url-pattern>/EliminarDest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDest</display-name>
    <servlet-name>AddDest</servlet-name>
    <servlet-class>ar.cac.abm.servlet.AddDest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDest</servlet-name>
    <url-pattern>/AddDest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActDest</display-name>
    <servlet-name>ActDest</servlet-name>
    <servlet-class>ar.cac.abm.servlet.ActDest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActDest</servlet-name>
    <url-pattern>/ActDest</url-pattern>
  </servlet-mapping>
</web-app>